 html, body{
    height: 100%;
    margin: 0;  
}
body{
    display: flex;    
    background-color: rgb(210, 214, 218);
    justify-content: center;
    align-items: center; 
}  
 .tic_tac_toe{
    width: 39vh;  
    max-height: 844px;
    height: 85vh; 
    background: white; 
    display: flex;    
    flex-direction: column; 
    align-items: center;  
    justify-content: space-around;
    gap: 2vh; 
    padding: 2vh 0; 
    border-radius: 20px; 
    overflow: hidden; 
}
 h1{
    background: white;
    color: #0057ff;
    font-family: 'Roboto';
    font-weight: 600; 
    font-size: 3.8vh;
    margin: 0;  
}  
.header_line{
    display: flex;
    width:80%;
    height:1vh;
    background-color: #ff0000;
    border-radius: 20px;
    margin: 1vh auto;
    position: relative; 
    bottom:10%;    
}
.two_cards{
    width: 100%; 
    background-color: white;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-weight: 400; 
    font-size: 1.8vh;
    margin-bottom: 2.5vh;
}
.you, .playa{
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: space-around;   
    width: 38%;
    height: 18vh;
    background-color: #0057ff;
    color: white;
    border-radius: 10px;
}
.playa{
    background-color: #ef5f5f;
} 
img{
    width: 8vh;
    height: 9vh;
    border-radius: 268.5px;
}
.line{
    width: 70%;
    height: 0.2vh;
    background-color: white;
}
.x{
    display: flex;
    justify-content: center;
    align-items: center;
}
.x1, .x2{
    width: 0.8vh;
    height: 4vh;
    background-color: #ff0000;
    position: relative;
}
.x1{
    rotate: 155deg; 
    left: 25%; 
}
.x2{
    rotate: 25deg;
    right: 25%;  
}    
 .o{
    width: 2.5vh;
    height: 2.5vh;
    border: 0.5vh solid blue;
    border-radius: 50%;
}   
.board{
    display: flex;
    width: 35vh;
    height: 43vh;
    background-image: linear-gradient(#ff0000,#0080f6);
    border-radius:20px;
    border: 1px solid black; 
    box-shadow: 0 4px 4px 0;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; 
}
.board > div{
    display: flex;
    width: 9.3vh;
    height: 10.3vh;
    background: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.o_board{
    width: 4.2vh;
    height: 4vh;
    border: 0.6vh solid blue;
    border-radius: 50%;
}
.x1_board, .x2_board{
    position: relative;
    width:2vh;
    height: 8.5vh;
    background-color: #ff0000;
}
.x1_board{
    rotate: 30deg;
    top: 4vh;
}
.x2_board{
    rotate: 145deg;
    bottom: 4.2vh;
} 
